/WebApplication_01/nbproject/private/
/WebApplication_01/build/
/WebApplication_01/dist/
/WebApplication_02/nbproject/private/
/WebApplication_02/build/
/WebApplication_03_a/nbproject/private/
/WebApplication_03_a/build/
/WebApplication_03_b/nbproject/private/
/WebApplication_03_b/build/
/WebApplication_03_c/nbproject/private/
/WebApplication_03_c/build/
/WebApplication_03_d/nbproject/private/
/WebApplication_03_d/build/
/WebApplication_04_a/nbproject/private/
/WebApplication_04_a/build/
/WebApplication_04_b/nbproject/private/
/WebApplication_04_b/build/
/WebApplication_04_c/nbproject/private/
/WebApplication_04_c/build/
/WebApplication_05_a/nbproject/private/
/WebApplication_05_a/build/
/WebApplication_06/nbproject/private/
/WebApplication_06/build/
/WebApplication_07_a/nbproject/private/
/WebApplication_07_a/build/
/WebApplication_07_JSP_a/build/
/WebApplication_07_JSP_b/nbproject/private/
/WebApplication_07_JSP_b/build/
/WebApplication_07_JSP_c/nbproject/private/
/WebApplication_07_JSP_c/build/
/WebApplication_08/nbproject/private/
/WebApplication_08/build/
/WebApplication_09/nbproject/private/
/WebApplication_09/build/
/MyTreeApp/nbproject/private/
/MyTreeApp/build/
/WebApplication_10/nbproject/private/
/WebApplication_10/build/
/PRJ301_Assignment/nbproject/private/
/PRJ301_Assignment/build/
/WebApplication_11/nbproject/private/
/WebApplication_11/build/
/WebApplication_11_b/nbproject/private/
/WebApplication_11_b/build/
/Workshop_01/nbproject/private/
/Workshop_01/build/
/WebApplication_12/nbproject/private/
/WebApplication_12/build/
/PRJ301_WS1/nbproject/private/
/PRJ301_WS1/build/
/WebApplication_13/nbproject/private/
/WebApplication_13/build/
/CSD201_Assignment_01/nbproject/private/
/Startup Project Management/nbproject/private/
/Startup Project Management/build/
/WebApplication_13_b/nbproject/private/
/WebApplication_14/nbproject/private/
/WebApplication_14/build/
/WebApplication_14_1/nbproject/private/
/WebApplication_14_1/build/